# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\科研\attention\chatbot-transformer-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
