# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\科研\attention\a-PyTorch-Tutorial-to-Image-Captioning-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
